* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#4b5563, #374151);
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  color: white;
}

.text {
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding: 10px;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;backgbackground: rgb(52,30,103);
background: linear-gradient(90deg, rgba(52,30,103,1) 35%, rgba(122,22,74,1) 66%, rgba(29,10,103,1) 100%);
    backdrop-filter: blur(200px);
    border-radius: 23% 77% 21% 79% / 82% 20% 80% 18% ;
}

label {
  padding: 10px;
}

select {
  padding: 10px;
  margin-bottom: 10px;
}

.pertama {
  margin-bottom: 10px;
}

.text label {
    margin-bottom: 10px;
}

.text select {
    margin-bottom: 20px;
    padding: 5px;
}

.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #4b5563;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

input {
  border-radius: 50px;
}

#hasil {
  background-color: tomato;
  border-radius: 50px;
  align-items: center;
}